{% extends "shop/base.html" %}
{% block title %}
  Ваша корзина товаров
{% endblock %}
{% block menu %}
<header class="header">
    <div class="mobile-name" style="font-size: 40px; padding-top: 20px; font-weight: bold;">D.O.T.1.2.7</div>
    <div class="mobile-icon" style="padding-top: 20px;"><img src="img/iconmonstr-menu-1.svg"></div>
    <div class="menu">
        <div class="header__left">
            <ul>
                <li><a href="#">О нас</a></li>
                <li> <a href="#" id="shop">Магазин</a>
                    <ul class="submenu" id="submenu-shop" style="margin-top: 0; top: 43px;">
                        <li><a href="/">Все</a></li>
                        <li><a href="#">Верхняя одежда</a></li>
                        <li><a href="#">Джемперы и свитеры</a></li>
                        <li><a href="#">Костюмы</a></li>
                        <li><a href="#">Деним</a></li>
                        <li><a href="#">Брюки и юбки</a></li>
                        <li><a href="#">Платья</a></li>
                    </ul>
                </li>
                <li><a href="#" id = "collections">Коллекции</a>
                    <ul class="submenu" id="submenu-collection" style="margin-top: 0; top: 43px; left: 215px;">
                        <li class="submenu_st"><a href="/">FW 18-19</a></li>
                        <li><a href="#">SS 18</a></li>
                        <li style="
                            padding-bottom: 0;
                            margin-bottom: 0;
                            "><a href="#">FW 17-18</a></li>
                    </ul>
                </li>
                <li><a href="#">SALE</a></li>
            </ul>
        </div>
        <div class="header__name"><a href="/main">DOT 1.2.7</a></div>
        <div class="header__right">
            <ul>
                <li class="search">
                    <form>
                        <input class="header__input" placeholder="Search">
                            </form>
                </li>
                <li><a href="#">Корзина</a></li>
                <li><a href="#">Войти</a></li>
                <li>
                    <select>
                        <option>руб</option>
                        <option>usd</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
  <h1>Ваша корзина товаров</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" class="in_cart_img" />
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form style="border:1px;" action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
              {{ item.update_quantity_form.quantity }}
              {{ item.update_quantity_form.update }}
              {% csrf_token %}
              <input type="submit" value="Обновить"></form>
            </td>
            <td><a href="{% url "cart:CartRemove" product.id %}">Удалить</a></td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'shop:ProductList'%}" class="btn">Продолжить Шопинг</a>
    <a href="{% url 'orders:OrderCreate' %}" class="btn">Оформить заказ</a>
  </p>

{%endblock%}
