{% extends 'shop/base.html' %}
{% load static %}
{% block menu %}
<header class="header">
      <div class="mobile-name" style="font-size: 40px; padding-top: 20px; font-weight: bold;">D.O.T.1.2.7</div>
      <div class="mobile-icon" style="padding-top: 20px;"><img src="/static/img/iconmonstr-menu-1.svg"></div>
      <div class="menu">
        <div class="header__left">
          <ul>
            <li><a href="#">О нас</a></li>
            <li> <a href="#" id="shop">Магазин</a>
              <ul class="submenu" id="submenu-shop" style="margin-top: 0; top: 43px;">
                <ul>
                  <li {% if not category %} class="selected" {% endif %}>
                    <a href="{% url 'shop:ProductList' %}">Все</a>
                  </li>
                  {% for cat in categories %}
                    <li {% if category.slug == cat.slug %} class="selected" {% endif %}>
                      <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </ul>
            </li>
            <li><a href="#" id = "collections">Коллекции</a>
              <ul class="submenu" id="submenu-collection" style="margin-top: 0; top: 43px; left: 215px; z-index: 10;">
                <ul>
                  <li {% if not collection %} class="selected" {% endif %}>
                    <a href="{% url 'shop:ProductList' %}">Все</a>
                  </li>
                  {% for col in collections %}
                    <li {% if collection.slug == col.slug %} class="selected" {% endif %}>
                      <a href="{{ col.get_absolute_url }}">{{ col.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </ul>
            </li>
            <li><a href="#">SALE</a></li>
          </ul>
        </div>
        <div class="header__name"><a href="/main">DOT 1.2.7</a></div>
        <div class="header__right">
          <ul>
            <li class="search">
              <form>
                <input class="header__input" placeholder="Search">
              </form>
            </li>
            <li><a href="#">Корзина</a></li>
            <li><a href="#">Войти</a></li>
            <li>
              <select>
                <option>руб</option>
                <option>usd</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </header>
{% endblock %}
{%block title_page%}
  <div class="category">
    <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
  </div>
{%endblock%}
{% block title %}
  {% if category %} {{ category.name }}
  {% else %}  {% if collection %} {{ collection.name }} {% else %} Страница товаров {% endif %}
   Страница товаров
  {% endif %}
{% endblock %}
{% block content %}
  <div id="main" class="product_list col-md-12 col-sm-9">
    <div class="items row">
      {% for product in products %}
        <div class="item col-sm-4">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{product.image.url }}{% else %}{% static 'img/no-image.jpg'%}{% endif %}" class="img-responsive"><br>
          </a>
          <span class="name_good" style="font-size: 140%;">
            <a  href="{{ product.get_absolute_url }}"><b>{{ product.name }}</b></a><br>
            {{ product.price }} руб.
          </span>
        </div>
      {% endfor %}
    </div>
{% endblock %}
