{% extends "shop/base.html" %}

{% block title %}
  Спасибо за заказ
{% endblock %}
{% block menu %}
<header class="header">
    <div class="mobile-name" style="font-size: 40px; padding-top: 20px; font-weight: bold;">D.O.T.1.2.7</div>
    <div class="mobile-icon" style="padding-top: 20px;"><img src="img/iconmonstr-menu-1.svg"></div>
    <div class="menu">
        <div class="header__left">
            <ul>
                <li><a href="#">О нас</a></li>
                <li> <a href="#" id="shop">Магазин</a>
                    <ul class="submenu" id="submenu-shop" style="margin-top: 0; top: 43px;">
                        <li><a href="/">Все</a></li>
                        <li><a href="#">Верхняя одежда</a></li>
                        <li><a href="#">Джемперы и свитеры</a></li>
                        <li><a href="#">Костюмы</a></li>
                        <li><a href="#">Деним</a></li>
                        <li><a href="#">Брюки и юбки</a></li>
                        <li><a href="#">Платья</a></li>
                    </ul>
                </li>
                <li><a href="#" id = "collections">Коллекции</a>
                    <ul class="submenu" id="submenu-collection" style="margin-top: 0; top: 43px; left: 215px;">
                        <li class="submenu_st"><a href="/">FW 18-19</a></li>
                        <li><a href="#">SS 18</a></li>
                        <li style="
                            padding-bottom: 0;
                            margin-bottom: 0;
                            "><a href="#">FW 17-18</a></li>
                    </ul>
                </li>
                <li><a href="#">SALE</a></li>
            </ul>
        </div>
        <div class="header__name"><a href="/main">DOT 1.2.7</a></div>
        <div class="header__right">
            <ul>
                <li class="search">
                    <form>
                        <input class="header__input" placeholder="Search">
                            </form>
                </li>
                <li><a href="#">Корзина</a></li>
                <li><a href="#">Войти</a></li>
                <li>
                    <select>
                        <option>руб</option>
                        <option>usd</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
  <h1>Спасибо за заказ</h1>
  <p>Идентификатор вашего заказа: {{ order.id }}</p>
{% endblock %}
