{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" href="/static/js/main.min.css">
  <link rel="stylesheet" href="/static/css/main.min.css">
</head>
<body>
  {% block menu %}
  {% endblock %}
  {%block title_page%}
  {%endblock%}
  <section id="content row" class="container">
    {% block content %}
    {% endblock %}
  </section>
  <script src="/static/js/scripts.min.js"></script>
  <script src="/static/js/submenu.js"></script>
</body>
</html>
